.card {
    display: flex;
    flex-wrap: wrap;
    width: 25rem;
    padding: 1.5rem;
    box-shadow: #00000080 0px 3px 8px;
    margin: 0.5rem;
    transform: scale(0.9); /* para escalar o mouseOver sem sobrepor cards */
    transition: all 0.3s ease-in-out;
    background: transparent;
    border-radius: 0.5rem;
    cursor: pointer;
  }
  
  .card:hover {
    transform: scale(1);
  }
  
  .card img {
    width: 30%;
    border-radius: 0.5rem;
  }
  
  .card-text {
    padding-left: 1.5rem;
  }
  
  .card-actor {
    padding-top: 6.5rem;
  }

  @media (max-width: 955px) {
    .card-title {
      font-size: 3rem;
    }
    .card img{
        width: 100%;
    }
    .card-house{
        font-size: 2rem;
    }
    .card-actor{
        padding: 1rem 0 0 0;
        font-size: 1.5rem;
    }
  }